@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    min-height: 100vh;
    color: #9E9AA8;
    width: 100%;
    background-color: #EFF1F7; 
}
/*---- Nav Bar ----*/
nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
    min-height: 8vh;
    background-color: white;   
}
.nav-links {
    display: flex;  
    justify-content: space-around;
    width: 80%;   
}
.nav-links li {
    list-style: none;
    font-size: .9rem;
    height: 40px;
    padding-top: 10px;  
}
.nav {
    text-decoration: none;
    color: #9E9AA8;
}
.logIn {
    width: 35%;
    text-align: end;  
}
.signUp {
    width: 105px;
    height: 40px;
    background-color: #2bd0d0;
    border-radius: 20px;
    text-align: center;
}
.signUp a {
    color: #ffffff;
}
/*--- Hero ----*/
.hero {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #ffffff;
    padding: 80px 100px 40px 100px;
    width: 100%;
    height: 660px;
    overflow: hidden;
}
h2 {
    color: #34313D;
    font-size: 4rem;
    line-height: 75px;
    padding-top: 50px;
}
h3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-weight: 500;
    height: 100px;
}
.start-btn {
    grid-column: 1 / 2;
    grid-row: 3 / 4;  
}
.working-img {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    height: auto;
    position: relative;
    height: 482px;
    width: auto;
}
.start-btn {
    background-color: #2bd0d0;
    text-decoration: none;
    width: 197px;
    height: 56px;
    border-radius: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    padding-top: 13px;
}
/*---- Shorten Container ----*/
.shorten-container {
    display: grid;
    align-items: center;
    grid-template-rows: 168px;
    margin: 0 auto;
    width: 85%;
    max-width: 1110px;
    position: absolute;
    left: 8%;
    top: 675px;
    background-color: #3A3054;
    border-radius: 10px; 
}
.shorten-img {
    width: 100%;
    height: 170px;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    border-radius: 10px;
}   
.shorten {
    /*display: grid;*/
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    padding: 64.5px; 
}
.shorten-input {
    width: 80%;
    height: 64px;
    color: #252222;
    border-radius: 10px;
    border: none;
    padding-left: 31px;
    padding-top: 11px;    
}
::placeholder {
    font-size: 1.6rem;
    color: #9E9AA8;
}
.shorten-btn {
    margin: 0 auto;
    padding-top: 5px;
    width: 18%;
    height: 64px;
    border-radius: 10px;
    background-color: #2bd0d0;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 1.2rem; 
}
.invalid {
    display: none;
    position: absolute;
    padding-top: 8px;
    color: #F46363;
    font-style: italic;
    font-size: 0.8rem;
}
/*---- Result ----*/
.resultDiv {
    display: flex;
    width: 85%;
    height: 72px;
    margin: 100px auto 20px auto;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 5px;
}
/*.result-original {
    width: 30%;
    color: rgb(34, 34, 34);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem; 
}*/
.result-new {
    width: 30%;
    color: #2bd0d0;   
}
.result-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 103px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #2bd0d0;
    text-decoration: none; 
}
/*---- Bottom Container ----*/
.stats { 
    text-align: center;
}
.stats h4 {
    margin-bottom: 16px;
    font-size: 2rem;
    color: black; 
}
.stats-details {
    text-align: center;
    margin: 0 auto 50px auto;
    line-height: 28px;
    width: 38%;   
}
.stats-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 8%;
    max-width: 1110px;
    margin: 0 auto;
}
.stats .card {
    background-color: white;
    width: 90%;
    min-height: 240px;
    height: 80%;
    padding: 77px 24px 24px 24px;
    text-align: left;
    border-radius: 4px;
}
.stats-line {
    border: 3px solid #2bd0d0;
    position: absolute;
    top: 1260px;
    z-index: -1;
    width: 100%;
}
.stats-title {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 6px;
}
.stats-text {
    font-size: .8rem;
    line-height: 20px;
}
.stats-icon {
    height: 88px;
    padding: 14px;
    position: absolute;
    margin-top: -120px;
    margin-left: -20px;
}
.stats-two {
    margin-top: 30px;
}
.stats-three {
    margin: 60px auto 50px auto;
}
.boost {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 250px;
    margin: 0 auto;
    
}
.boost-img {
    position: absolute;
    left: 0;
    background-color: #3A3054;
    z-index: -1;
    width: 100%;
    height: 250px;  
}
.boost-text {
    padding-top: 58px;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    
}
.boost-btn {
    margin-top: 24px;
   
    height: 56px;
    width: 197px;
    background-color: #2bd0d0;
    border-radius: 50px;
    border: none; 
}
.boost-btn a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}
footer {
    display: flex;
    justify-content: center;
    padding-top: 71px;
    height: 300px;
    background-color: black;
}
.footer-logo {
    height: 33px;
}
footer ul {
    display: inline;
    width: 12%;
    margin-left: 10%;  
}
footer .list-title {
    color: #ffffff;
}
footer li {
    list-style: none;
    justify-content: space-around;
    font-size: 0.8rem;
    line-height: 30px; 
}
.social-icon {
    height: 24px;
    padding: 0 6px;
    fill: hsl(180, 66%, 49%);
}
.initial.resultDiv {
    background-color: #EFF1F7;
    max-width: 1110px;  
}
@media (max-width: 934px) {
    h2 {
        padding-top: 10px;
    }
}
@media (max-width: 795px) {
    .hero {
        display: block;
        grid-template-columns: 90%;
        grid-template-rows: repeat(4, 1fr);
        height: 60%;
        text-align: center;
        padding-top: 10px;
        min-height: 660px;
    }
    .hero h2 {
        font-size: 2.5rem;
        line-height: 40px;
        margin-bottom: 10px; 
    }
    .working-img {
        width: 90%;
        height: auto;
    }
    .resultDiv {
        display: block;
        text-align: left;
        padding: 20px;
        margin: 100px auto 10px auto;
        height: 155px;
    }
    .result-new,
    .result-btn {
        width: 100%;
        text-align: left;
    }
    .result-new {
        padding: 16px 0;
        
    }
    .start-btn {
        padding: 10px 20px;
    }
    .shorten-input,
    .shorten-btn {
        width: 100%;
    }
    .shorten-input {
        margin-bottom: 10px; 
    }
    .stats-cards {
        padding: 0;
        width: 100%; 
    }  
}